body {
  font-family: 'Open Sans', sans-serif;
  color: #001e26;
  padding: 0 30px;
  overflow-y: scroll;
}

.pure-table caption {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0.67em 0;
}

h2 {
  text-align: right;
}

.pure-table {
  width: 100%;
}

.pure-table tr:nth-child(even) {
  background: #f3f3f3;
}

.pure-table th {
  font-size: 14px;
}

.pure-table td {
  border: 1px solid silver;
}

.pure-table thead,
.pure-table tfoot {
  background: #222;
  color: white;
}

.pure-table tfoot td {
  text-align: right;
  border-right: none;
  border-left: none;
}

td:nth-child(1),
th:nth-child(1) {
  width: 2%;
  max-width: 2%;
  min-width: 2%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

td:nth-child(3),
th:nth-child(3) {
  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

td:nth-child(4),
th:nth-child(4) {
  width: 10%;
  max-width: 10%;
  min-width: 10%;
}

td:nth-child(5),
th:nth-child(5) {
  width: 8%;
  max-width: 8%;
  min-width: 8%;
}

.done {
  text-decoration: line-through;
}

.link {
  color: #001e26;
}
